{% extends 'base.html' %}

{% block title %}<title>Page assos</title>{% endblock %}

{% block content %}
<h1> </h1>
<h1 class="centered">Assos page</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>RNA ID</th>
            <th>RNA ID EX</th>
            <th>Gestion</th>
        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.rna_id }}</td>
            <td>{{ data.rna_id_ex }}</td>
            <td>{{ data.gestion }}</td>
            <td><a href="/edit"><button>edit</button></a></td>
            <td>
                <form action="{{ url_for('delete', id=data.id) }}" method="POST" 
                onsubmit="return confirm('Are you sure you want to delete this data?')">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}